<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="{{basePath}}/leaderboard">
        <img alt="Brand" style="width: 2rem; height: 2rem;" src="{{basePath}}/static/images/Fire.gif">
      </a>
      <a class="navbar-brand" href="{{basePath}}/leaderboard">Betaheads stats</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{{#if tabLeaderboard}}active{{/if}}"><a href="{{basePath}}/leaderboard">Leaderboard</span></a>
        </li>
        {{!-- <li class="{{#if tabServerTotal}}active{{/if}}"><a href="#">Server total</a>
        </li> --}}
        <li class="{{#if tabPlayers}}active{{/if}}"><a href="{{basePath}}/players">Players</a>
        </li>
      </ul>
      {{> players-search-form}}
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>