<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Betaheads stats</title>
  <link type="text/css" rel="stylesheet" href="{{basePath}}/static/bootstrap/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{basePath}}/static/index.css">
</head>

<body>
  {{> navbar }}
  <main>
    {{{body}}}
  </main>

  <script type="text/javascript" src="{{basePath}}/static/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{basePath}}/static/bootstrap/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="{{basePath}}/static/index.js"></script>
</body>

</html>