<div class="bh-center bh-mx-1">
  <div class="bh-container">
    <h1>Player statistic</h1>
  </div>
</div>

<div class="bh-center bh-mx-1">
  <div class="bh-container">
    <div class="row">
      <div class="col-sm-6 col-md-4 bh-w-fit-content bh-min-w-33p">
        <div class="thumbnail">
          <img class="bh-mt-1" src="{{avatarImageUrl}}" alt="player skin">
          <div class="caption">
            <h3>{{ username }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bh-center bh-mx-1">
  <div class="panel panel-default bh-container">
    <div class="panel-heading">Overall statistics</div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><b>Total playtime</b></td>
          <td>{{played}}</td>
        </tr>
        <tr>
          <td><b>Total blocks placed</b></td>
          <td class="number">{{totalBreak}}</td>
        </tr>
        <tr>
          <td><b>Total blocks broken</b></td>
          <td class="number">{{totalPlace}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="bh-center bh-mx-1">
  <div class="panel panel-default bh-container">
    <div class="panel-heading">Block statistic</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Block</th>
          <th>Placed count</th>
          <th>Broken count</th>
        </tr>
      </thead>
      <tbody>
        {{#each blockStats}}
        <tr>
          <td>{{block}}</td>
          <td class="number">{{placeCount}}</td>
          <td class="number">{{breakCount}}</td>
        </tr>
        {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</div>